@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";
	ViewBag.Title = Model?.Value("pageTitle") ?? null;

	var backgroundImage = Model?.Value<IPublishedContent>("heroBackgroundImage")?.Url() ?? "";
	var signatureImage = Model?.Value<IPublishedContent>("aboutSignatureImage")?.Url() ?? "";
}

<section id="section-hero" class="hero">
	<img class="background" src="@backgroundImage"</img>

	<div class="container">
		<div class="hero-content">
			<h1 class="headline">@Model?.Value("heroHeadline")</h1>
			<p class="ingress">@Model?.Value("heroText")</p>
			<div>
				<a href="@Model?.Value("heroButtonUrl")" class="btn-primary btn">@Model?.Value("heroButtonText")</a>
			</div>
		</div>
	</div>
</section>

@* 
<section id="section-about" class="about-us">
	<div class="container">
		<div class="content">
			<div class="headline">
				<h5>@Model.Value("aboutSectionTitle")</h5>
				<h2>@Model.Value("aboutHeadline")</h2>
			</div>

			<blockquote class="quote">@Model.Value("aboutQuote")</blockquote>
			<p>@Model.Value("aboutText")</p>

			<div class="signature-container">
				<div class="signature">
					<img class="signature-image" src="@signatureImage" alt="@Model.Value("aboutSignature")">
					<div class="clarification">
						<p class="name">@Model.Value("aboutSignature")</p>
					</div>
				</div>
			</div>
		</div>

		<div class="form-container">

		</div>
	</div>
</section> *@